{{template "admin-base" .}}
<!-- {{define "banner"}}
        <img src="/static/images/contact-samui-natien-resort-villas-17.png" class="img-fluid d-block w-100" style="height: 260px; margin: 0; border: 0;" alt="Samui Natien Resort">        
{{end}} -->
{{define  "admin-page-title" }}
    Add New Promotion
{{end}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                {{$pm := index .Data "promotion" }}
                {{$pmts := index .Data "promotion_types" }}
                <form method="post" action="/admin/promotions" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="small" for="title">Promotion: </label>
                                        {{with .Form.Errors.Get "title"}}
                                        <label class="text-danger">{{.}}</label>
                                        {{end}}
                                        <input class="form-control {{with .Form.Errors.Get "start_date"}} is-invalid {{end}}" id="title" autocomplete="off" type='text'
                                            name='title'  value="{{$pm.Title}}"  required>
                                    </div>

                                    <input class="form-control" id="price" name='price' value="9999" hidden>
                                    {{range $pmts}}
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" id="promotion_type_id" >
                                        <option value="{{.ID}}">{{.Title}}</option>
                                        </select>
                                      {{end}}

                                    
                                    <div class="form-group">
                                        <label class="small" for="description">Description:</label>
                                        <textarea class="form-control" id="description" autocomplete="off"
                                        name='description'  value="{{$pm.Description}}"  rows="4" required>{{$pm.Description}}</textarea>
                                    </div>
                                </div>
                            </div>
                                                 
                           
                            <div class="row" id="promotion-dates">                                            
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-3">
                                            <div class="form-group">
                                                <label for="start_date">Arrival Date:</label>
                                                {{with .Form.Errors.Get "start_date"}}
                                                <label class="text-danger">{{.}}</label>
                                                {{end}}
                                                <input class="form-control {{with .Form.Errors.Get "start_date"}} is-invalid {{end}}" 
                                                type="text" 
                                                id="start_date" name='start_date' 
                                                placeholder="Arrival" autocomplete="off"
                                                value="{{$pm.StartDate}}" required>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-3">
                                            <div class="form-group">
                                                <label for="end_date">Departure Date:</label>
                                                {{with .Form.Errors.Get "end_date"}}
                                                <label class="text-danger">{{.}}</label>
                                                {{end}}
                                                <input class="form-control {{with .Form.Errors.Get "end_date"}} is-invalid {{end}}" 
                                                type="text" 
                                                id="end_date" name='end_date' 
                                                placeholder="Departure" 
                                                autocomplete="off"
                                                value="{{$pm.EndDate}}" required>
                                            </div>
                                        </div>       
                            </div>
                            
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  
                            <div class="form-group">
                                <label for="status" class="form-label">Status:</label>
                                <input class="form-control" list="statusOptions" id="status" placeholder="select status">
                                <datalist id="statusOptions">
                                    <option value="enable">
                                    <option value="disable">                        
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/promotions" type="button" class="btn btn-sm btn-primary mt-3" value="Back" >Back</a>
                        <input type="submit" class="btn btn-sm btn-success mt-3" value="Submit" >
                </form>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <!-- if you have specific javascript for this page put it here -->
    <script>
        const elem = document.getElementById('promotion-dates');
        const rangePicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
            minDate: new Date(),
        });
    </script>
{{end}}
    