{{template "admin-base" .}}     
        {{define "css"}}
            <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
        {{end}}
        {{define  "admin-page-title" }}
            Reservation Lists
        {{end}}

        {{define "content" }}
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{$res := index .Data "reservations"}}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="all-rsvn">
                            <thead>                   
                                <tr>
                                    <!-- <th>ID</th> -->
                                    <th>First Name</th>
                                    <!-- <th>Last Name</th> -->
                                    <th>Room</th>
                                    <th>Arr Date</th>
                                    <th>Dep Date</th>
                                    <th>Booking Type</th>
                                    <th>Processed</th>
                                    <th>Status</th>
                                    <!-- <th>Created At</th>
                                    <th>Updated At</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            {{range $res }}          
                            <tr>                  
                                <!-- <td><a href="/admin/reservations/all/{{.ID}}">{{.ID}}</a></td> -->
                                <td><a href="/admin/reservations/all/{{.ID}}">{{.FirstName}} {{.LastName}}</a></td>
                                <!-- <td><a href="/admin/reservations/all/{{.ID}}"></a></td> -->
                                <td>{{.RoomType.Title}}</td>
                                <td>{{humanDate .StartDate}}</td>
                                <td>{{humanDate .EndDate}}</td>
                                <td>{{if .IsPromotion}}Promotion{{else}}Room{{end}}</td>
                                <td>{{.Processed}}</td>
                                <td>{{.Status}}</td>
                                <!-- <td>{{humanDate .CreatedAt}}</td>
                                <td>{{humanDate .UpdatedAt}}</td>    --> 
                            </tr>        
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>  
            </div>     
        {{end}}

        {{define "js"}}
            <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
            <script>
                // Waiting until all the necessary contetns is loaded then working on dataTable (show list of data)
                document.addEventListener("DOMContentLoaded",function () {
                    const dataTable = new simpleDatatables.DataTable("#all-rsvn", {
                    searchable: true,
                    fixedHeight: true,
                    })
                })
                
            </script>
        {{end}}