{{define "admin-base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Areas</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/admin/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/admin/css/style.css">
  <link rel="stylesheet" href="/static/admin/css/admin-style.css">
  {{block "css" .}}
  {{end}}
  
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a href="/" class="navbar-brand brand-logo mr-5" href="/admin/dashboard">F2xHotel</a>
        <!-- <a class="navbar-brand brand-logo mr-5" href="/admin/dashboard"><img src="/static/admin/images/logo.svg" class="mr-2" alt="logo"/></a> -->
        <a class="navbar-brand brand-logo-mini" href="/admin/dashboard"><img src="/static/admin/images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown mr-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="ti-world mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
              <!-- <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p> -->
              <a href="/" class="dropdown-item">               
                <div class="item-content flex-grow">
                  <p class="font-weight-light small-text text-muted mb-0">
                    View Public Site
                  </p>
                </div>
              </a>
            </div>
          </li>

          <li class="nav-item dropdown mr-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="ti-email mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/static/admin/images/faces/sinthorn-face.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/static/admin/images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/static/admin/images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="ti-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="/static/admin/images/faces/sinthorn-face.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
             
              {{ if eq .IsAuthenticate 1}}
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
             
              <a href="/users/logout" class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>

              {{else}}
              <a href="/users/login" class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Login
              </a>
              {{end}}

            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#rsvn-sub" aria-expanded="false" aria-controls="rsvn-sub">
              <i class="ti-ink-pen menu-icon"></i>
              <span class="menu-title">Reservations</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="rsvn-sub">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/reservations/calendar">Reservations Calendar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/reservations">All Reservations</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/reservations/new-reservations">New Reservations</a></li>
                <li class="nav-item"> <a class="nav-link" href="/rooms/reservations/new">New Booking</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/reservations/status">Booking Status</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#rooms-sub" aria-expanded="false" aria-controls="rooms-sub">
              <i class="ti-agenda menu-icon"></i>
              <span class="menu-title">Rooms</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="rooms-sub">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/rooms">All Rooms</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/rooms/new">New Room</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/rooms/room-status/new">Room Status</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/rooms/roomtype/new">Room Type</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#promotions-sub" aria-expanded="false" aria-controls="promotions-sub">
              <i class="ti-agenda menu-icon"></i>
              <span class="menu-title">Promotions</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="promotions-sub">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/promotions">All Promotions</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/promotions-types">Promotion Types</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/promotions/room-rate">Promotion Rate</a></li>
              </ul>
            </div>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-palette menu-icon"></i>
              <span class="menu-title">UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/ui-features/buttons.html">Buttons</a></li>
                <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/ui-features/typography.html">Typography</a></li>
              </ul>
            </div>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/static/admin/pages/forms/basic_elements.html">
              <i class="ti-layout-list-post menu-icon"></i>
              <span class="menu-title">Form elements</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/static/admin/pages/charts/chartjs.html">
              <i class="ti-pie-chart menu-icon"></i>
              <span class="menu-title">Charts</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/static/admin/pages/tables/basic-table.html">
              <i class="ti-view-list-alt menu-icon"></i>
              <span class="menu-title">Tables</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/static/admin/pages/icons/themify.html">
              <i class="ti-star menu-icon"></i>
              <span class="menu-title">Icons</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="ti-user menu-icon"></i>
              <span class="menu-title">User</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/users"> All Users </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="/login"> Login </a></li> -->
                <!-- <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/samples/login-2.html"> Login 2 </a></li> -->
                <li class="nav-item"> <a class="nav-link" href="/admin/users/register"> Register </a></li>
                <!-- <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/samples/register.html"> Register2 </a></li> -->
                <!-- <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/samples/register-2.html"> Register 3 </a></li> -->
                <li class="nav-item"> <a class="nav-link" href="/static/admin/pages/samples/lock-screen.html"> Lockscreen </a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#contents-sub" aria-expanded="false" aria-controls="contents-sub">
              <i class="ti-ink-pen menu-icon"></i>
              <span class="menu-title">Contents</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="contents-sub">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/contents">All Contents</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/contents/create">Create Content</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/static/admin/documentation/documentation.html">
              <i class="ti-write menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <!-- Top admin panel info  -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h3 class="font-weight-bold mb-0">{{block "admin-page-title" .}}{{end}}</h3>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                      <i class="ti-clipboard btn-icon-prepend"></i>Report
                    </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Top admin panel info end  -->

          <!-- content block start  -->
          {{block "content" .}}

          {{end}}
          <!-- content block end  -->
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block small">Copyright © f2.co.th 2020</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center small"> Free <a href="https://www.f2.co.th" target="_blank">powered by F2xHotel Websit templates</a></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script> -->

    <!-- <script src="/static/css/bootstrap-5x0/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
  <script src="https://unpkg.com/notie"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="/static/js/app.js"></script>

  <!-- plugins:js -->
  <script src="/static/admin/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/static/admin/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/static/admin/js/off-canvas.js"></script>
  <script src="/static/admin/js/hoverable-collapse.js"></script>
  <script src="/static/admin/js/template.js"></script>
  <script src="/static/admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/admin/js/dashboard.js"></script>
  <!-- End custom js for this page-->

  <!-- block per page javascript -->
  {{block "js" .}}
  {{end}}
  <!-- block per page javascript end -->
  <script>
    let attention = Prompt();

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();     
    function notify(msg, msgType) {
        notie.alert({
            type: msgType,
            text: msg,
        })
    } 
    function notifyModal(title, text, icon, confirmationButtonText) {
        Swal.fire({
            title: title,
            html: text,
            icon: icon,
            confirmButtonText: confirmationButtonText
        })
    }

  //   this notify get from seesion that we has add from default template data
    {{with .Flash}}
      notify("{{.}},", "success")
    {{end}}

    {{with .Error}}
      notify("{{.}},", "error")
    {{end}}

    {{with .Warning}}
      notify("{{.}},", "warning")
    {{end}}

</script>

</body>

</html>

{{end}}

