{{template "admin-base" .}}
<!-- {{define "banner"}}
        <img src="/static/images/contact-samui-natien-resort-villas-17.png" class="img-fluid d-block w-100" style="height: 260px; margin: 0; border: 0;" alt="Samui Natien Resort">        
{{end}} -->
{{define "css"}}
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
{{end}}
{{define  "admin-page-title" }}
    Promotion Details
{{end}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                {{$IsReadOnly := index .StringMap "is_read"}}
                {{$isEdit := index .StringMap "is_edit"}}
                {{$isView := index .StringMap "is_view"}}
             
                {{$pm := index .Data "promotion" }}
                {{$pmts := index .Data "promotion_types" }}
                {{$pmrs := index .Data "promotions_rates" }}
               

                <p class="lead mb-3"><span class="font-weight-bold">Package Name: </span>{{$pm.Title}}
                    <hr/>
                </p>
                <form method="post" action="/admin/promotions/{{$pm.Id}}/update" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="small" for="title">Promotion: </label>
                                        <input class="form-control" id="title" autocomplete="off" type='text'
                                            name='title'  value="{{$pm.Title}}" {{$IsReadOnly}} required>
                                    </div>

                                    {{if $isEdit }}
                                    <div class="form-group">
                                        <label class="small" for="promotion_type_id">Promotion Type: </label>                           
                                        <select class="form-control form-select form-select-lg mb-3 "
                                        aria-label="select promotion type" 
                                        id="promotion_type_id"
                                        name="promotion_type_id" 
                                        required>     

                                            {{range $pmts}}
                                            <option {{if eq .Id .Id}}selected{{end}} value="{{.Id}}" >{{.Title}}</option>
                                            {{end}}                                        
                                        </select>                                    
                                    </div>
                                    <!-- <div class="form-group">
                                        <label for="promotion_type" class="form-label">Promotion Type:</label>
                                        <input class="form-control" list="datalistOptions" id="promotion_type_id" placeholder="select promotion type">
                                        <datalist id="datalistOptions">
                                            <option selected value="{{$pm.PromotionType.Title}}">
                                        </datalist>
                                    </div> -->
                                    {{else}}
                                    <div class="form-group">
                                        <label class="small" for="promotion_type_id">Promotion Type: </label>
                                        <input class="form-control" id="promotion_type_id" autocomplete="off" type='text'
                                            name='promotion_type_id'  value="{{$pm.PromotionType.Title}}" {{$IsReadOnly}} required>
                                    </div>
                                    {{end}}


                                    <div class="form-group">
                                        <label class="small" for="description">Description:</label>
                                        <textarea class="form-control" id="description" autocomplete="off"
                                        name='description'  value="{{$pm.Description}}" {{$IsReadOnly}} rows="4" required>{{$pm.Description}}</textarea>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row" id="promotion-dates">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="small" for="start_date">Start Date: <span class="small">{{humanDate $pm.StartDate}}</span></label>
                                        <input class="form-control" id="start_date" autocomplete="off" type='text'
                                                name='start_date'  value="{{humanISODate $pm.StartDate}}" {{$IsReadOnly}} required>
                                    </div>
                                </div>
            
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="small" for="end_date">End Date: <span class="small">{{humanDate $pm.EndDate}}</span></label>
                                        <input class="form-control" id="end_date" autocomplete="off" type='text' name='end_date'  value="{{humanISODate $pm.EndDate}}" {{$IsReadOnly}} required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  
                            
                                <div class="form-group">
                                    <label for="price">Start rate:</label>
                                    
                                    <input class="form-control" 
                                    type="text" 
                                    id="price" 
                                    name='price' 
                                    placeholder="start from rate" 
                                    autocomplete="off"
                                    value="{{$pm.Price}}" 
                                    required {{$IsReadOnly}}>
                                </div>

                                <div class="form-group">
                                    <label class="small" for="promotion_type_id">Status: </label>                           
                                    <select class="form-control form-select form-select-lg mb-3 "
                                    aria-label="select status" 
                                    id="status"
                                    name="status" 
                                    required>                                           
                                        <option {{if eq $pm.Status "enable" }}selected{{end}} value="enable">Enable</option>
                                        <option {{if eq $pm.Status "disable" }}selected{{end}} value="disable">Disable</option>                                      
                                    </select>                                    
                                </div>
                                                    
                            <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="small" for="created_at">Created At: <span class="small">{{humanDate $pm.CreatedAt}}</span></label>
                                            <input class="form-control" id="created_at" autocomplete="off" type='text'
                                                    name='created_at'  value="{{humanISODate $pm.CreatedAt}}" {{$IsReadOnly}} required>
                                        </div>
                                    </div>
                
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="small" for="updated_at">Latest Update: <span class="small">{{humanDate $pm.UpdatedAt}}</span></label>
                                            <input class="form-control" id="updated_at" autocomplete="off" type='text' name='updated_at'  value="{{humanISODate $pm.UpdatedAt}}" {{$IsReadOnly}} required>
                                        </div>
                                    </div>
                            </div>                            
                        </div>
                    </div>
                    <a href="/admin/promotions" type="button" class="btn btn-sm btn-primary mt-3" value="Back" >Back</a>
                    {{if $isEdit }}
                        <input type="submit" class="btn btn-sm btn-warning mt-3" value="Update" >
                        <input type="submit" class="btn btn-sm btn-warning mt-3" value="Edit" hidden>
                    {{else}}
                        <input type="submit" class="btn btn-sm btn-warning mt-3" value="Update" hidden>
                        <a href="/admin/promotions/{{$pm.Id}}?edit=true" class="btn btn-sm btn-warning mt-3">Edit</a>
                    {{end}}
                </form>
            </div>
        </div>

         {{/* promotions rate  */}}
         <p class="mt-5">
            <h2 class="lead mb-3">Promotion room rate</h2>
            <hr/>
           </p>
         {{$prmslength := len $pmrs }}
         {{if eq $prmslength 0 }} 
         no room rate available :) <br/>
         <a href="/admin/promotions-rates/{{$pm.Id}}" class="btn btn-success">generate rate</a>
         {{else}}
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="all-promotion_types">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th class="d-none">Room Type</th>
                            <!-- <th>Promotion</th> -->
                            <th>Rate</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        <tbody>
                           
                        {{range $pmrs }}
                            <tr>
                                <form method="post" action="/admin/promotions/{{$pm.Id}}/update" class="" novalidate>
                                <input type="hidden" value="{{.Id}}" id="pro_rate_id" name="pro_rate_id">
                                <td></td>
                                <td>{{.Title}}</td>
                                <td class="d-none">{{.RoomTypeId}}</td>
                                <!-- <td>{{.PromotionId}}</td> -->
                                <td>{{.Rate}}</td>
                                <td>{{humanDate .StartDate}}</td>
                                <td>{{humanDate .EndDate}}</td>
                                <td class="{{if eq .Status "disable" }} text-danger {{else}} text-success {{end}}">{{.Status}}</td>
                                <td class="text-center">
                                    <!-- <a href="/admin/promotions-types/{{.Id}}?edit=false"type="button" class="btn btn-success btn-sm">View</a> -->
                                    <a id="rate-button-{{.Id}}"  onclick="updateBtn({{.Id}})" href="#!" class="btn btn-warning btn-sm">Edit</a>
                                    <!-- <a href="/admin/promotions-types/{{.Id}}/delete" type="button" class="btn btn-danger btn-sm">Delete</a> -->
                                    <a href="#!" onclick="deleteRes({{.Id}})" type="button" class="btn btn-danger btn-sm">Delete</a>   
                                </td>
                            </form>
                            </tr>
                        {{end}}
                        </tbody>
                    </thead>
                </table>
            </div>
    
            <div class="mt-5 mb-5">
                    <div class="row">
                        <div class="col">
                            <!-- <a href="/admin/promotions-types/new" type="button" class="btn btn-success btn-sm" >Add</a> -->
                            <a href="/admin/promotions-types" type="button" class="btn btn-primary btn-sm">Back</a>
                        </div>
                    </div>
            </div>

            {{end}} 
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <!-- if you have specific javascript for this page put it here -->
<script>
    const elem = document.getElementById('promotion-dates');
    const rangePicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd",
        minDate: new Date(),
    });
</script>

<script>
    
    function updateBtn(id) {
    // document.getElementById("rate-button-" + id).addEventListener("click", function () {
    let html = `
    <form id="promotion-rate-form" action="/rooms/search-availability-response" method="post" novalidate class="needs-validation"> 
        <div class="form-row">
          <input type="hidden" value="1" id="room_id" name="room_id">
          <div class="col">
                <div class="form-row" id="promotion-rate-modal">
                    <div class="col">
                        <input required  class="form-control" type="text" name="rate" id="rate" placeholder="rate" autocomplete="off">
                    </div>
                    <div class="col">
                        <select class="form-control form-select form-select-lg mb-3 "
                            aria-label="select status" 
                            id="status"
                            name="status" 
                            required>                                           
                                <option selected value="enable">Enable</option>
                                <option selected value="disable">Disable</option>                                      
                        </select>      
                    </div>
                </div>
            </div>
        </div>
    </form>
    `;
        attention.custom({
        title: '<div class="leade">Update rate</div>',
        msg: html,

        willOpen: () => {
                    const elem = document.getElementById("promotion-rate-modal");
        },

        didOpen: () => {
                    document.getElementById("rate").removeAttribute("disabled");
                    document.getElementById("status").removeAttribute("disabled");
        },
            callback: (results) => {
            let form = document.getElementById("promotion-rate-form");

            // retrive data from all form input field
            let formData = new FormData(form);

            // append csrf to form
            formData.append("csrf_token", "{{.CSRFToken}}");

            fetch("/admin/promotions-rates/"+id+"/update", {
                method: 'post',
                body: formData,
            }).then(response => response.json()).then(data => {
                        if (data.Ok) {
                            attention.custom({
                                icon: "success",
                                showConfirmButton: false,
                                showCloseButton: true,
                                showCancelButton: false,
                                msg: `<p>Refresh</p> <a href="/admin/promotins/`+id+`?edit=false` 
                                + data.RoomID 
                                + "&sd="
                                + data.StartDate 
                                + "&ed="
                                + data.EndDate
                                + `"` 
                                + `type="button" class="btn btn-success">`
                                + `OK</a>`
                                ,
                            })
                        } else {
                            attention.custom({
                                icon: "warning",
                                showConfirmButton: false,
                                showCloseButton: false,
                                showCancelButton: true,
                                cancelButtonText:
                                'Promotion Rate',
                                msg: `<p>Please re-check input data</p>`,
                            })
                        }
                    })
                    }
                });
        // })
    }
</script>

{{end}}
    