{{template "base" .}}

        {{define "content"}}
                <div class="container">
                        <div class="ro">
                                <div class="col">
                                        <h1>Home Page</h1>
                                        <p>It's as it is :)</p>
                                        <p>Greeting value: {{index .StringMap "greet"}}</p>
                                </div>
                                <div class="col">
                                        <p>
                                                <button id="buttonTest" class="btn btn-success">Click Me</button>
                                        </p>
                                </div>
                        </div>
                </div>
        {{end}}