{{template "base" .}}

    {{define "content"}}
    <div class="container">
        <div class="row">
                <h1 class="mt-3">Choose room </h1>
        </div>   
        <div class="row mt-5 mb-5">
        {{$rooms := index .Data "rooms"}}
            {{range $rooms}}
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
                    <div class="card text-center">
                        <a href="/rooms/reseration/choose-room/{{.RoomNo}}">{{.RoomNo}}</a>
                    </div>
                   
                </div>
            {{end}}
            </div>                           
        </div>                    
    </div>
    {{end}}


    {{define "js"}}
    <!-- if you have specific javascript for this page put it here -->
    <script>
        console.log("Separate script form individual page is start here")
    </script>
    {{end}}
    
