{{template "base" .}}

    {{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-3">Choose room </h1>
                {{$rooms := index .Data "rooms"}}
                {{range $rooms}}
                    <!-- {{.RoomName}} -->
                    {{.RoomNo}}<br />
                {{end}}
               
            </div>
            <div class="col-md-3"></div>
        </div>
    
    </div>
    
    {{end}}

    {{define "js"}}
    <!-- if you have specific javascript for this page put it here -->
    <script>
        console.log("Separate script form individual page is start here")
    </script>
    {{end}}
    
