{{template "base" .}}

{{define "content"}}
    {{$rsvn := index .Data "reservation"}}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h1 class="mt-5 mb-3">Reservation Infomation</h1>
                <table class="table tabel-stripe">
                    <thead> </thead>
                        <tr>
                            <td>Name</td>
                            <td>{{$rsvn.FirstName}} {{$rsvn.LastName}}</td>
                        </tr>
                        <tr>
                            <td>Room Type:</td>
                            <td>{{index .StringMap "room_type"}}</td>
                        </tr>
                        <tr>
                            <td>Arrival:</td>
                            <td>{{index .StringMap "start_date"}}</td>
                        </tr>
                        <tr>
                            <td>Departure:</td>
                            <td>{{index .StringMap "end_date"}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{$rsvn.Email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{$rsvn.Phone}}</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>

{{end}}